/*

  Backend styles

  Applied to
  --------------------------------------------------------------
   backend
   

*/

.login {
	width: 50%;
	margin: auto;
	margin-top: 20px;
}

.login #logo {
	width: 600px;
	text-align: center;
}

.login #login-box {
	margin-top: 30px;
	width: 600px;
}