{% extends '::base.html.twig' %}


{% block stylesheets %}
	<link href="{{ asset('bundles/dashboard/css/dashboard.css') }}"	rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	{# Info Messages #}
	{% for type, flashMessage in app.session.flashbag.all() %}
		<div class="message" id="message">
			{% if flashMessage.title is defined %}
	        	<strong>{{ flashMessage.title }}</strong>
	        	{{ flashMessage.message }}
	        {% else %}
	        	{{ type }}
	        {% endif %}
	   	</div>
	{% endfor %}
	
	{% block content %}{% endblock %}
{% endblock %}