<div>
	<div>
		{{ app.security.getToken().getUser().getUserDetail().getFirstName() ~ ", do you want to continue logout?" }}
	</div>
	<br />
	<div><a href="{{ path('logout') }}" class="btn btn-warning">Yes</a></div>
</div>
