<div>
	<div><span class="glyphicon glyphicon-user"></span></div>
	<div>
		{{ "Hi " ~ app.security.getToken().getUser().getUserDetail() }}
	</div>
	<br />
	<div><button class="btn btn-warning">View Profile</button></div>
</div>