{% extends '::dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <br><br>

                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-folder fa-3x" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="bottom" data-title="Projects"
                           data-content='{% include 'DashboardBundle:Default:includes/projectsByGroup.html.twig' %}'
                           data-html="true"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-home fa-3x" data-trigger="focus" data-container="body"
                           data-toggle="popover" data-placement="bottom"
                           data-content='<a target="_blank" href="http://121customerinsight.co.uk">Comapny Website</a>''
                        data-html="true"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-users fa-3x" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="bottom"
                           data-content='<a target="_blank" href="http://121webhost/intranet/">Intranet</a>''
                        data-html="true"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-gears fa-3x" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="bottom" data-title="Environments"
                           data-content='{% include 'DashboardBundle:Default:includes/environments.html.twig' %}'
                           data-html="true"></a>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-tasks fa-3x" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="bottom" data-title="Management"
                           data-content='{% include 'DashboardBundle:Default:includes/managementProjectsByGroup.html.twig' %}'
                           data-html="true"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="pop-right slider fa fa-laptop fa-3x" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="bottom" data-title="Servers"
                           data-content='{% include 'DashboardBundle:Default:includes/services.html.twig' %}'
                           data-html="true"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="menu-button"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="menu-button"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

            <div class="side-panel">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseOne">
                                    Servers
                                </a>
                                <div class="pull-right">
                                    <a href="#" class="fa fa-refresh  fa-1x server-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">
                                <table class="table table-hover servers">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseTwo">
                                    Deployment (Continuous Integration)
                                </a>

                                <div class="pull-right"><a href="#" class="fa fa-refresh  fa-1x deployment-check-btn"></a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 250px; overflow-y:scroll;">
                                <table class="table table-hover deployments">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseThree">
                                    Current connection
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body" style="max-height: 200px; overflow-y:scroll;">
                                <table class="table table-hover">
                                    <tr class="pop-left" data-trigger="hover" data-container="body"
                                        data-toggle="popover" data-placement="bottom" data-content='1hour 32minutes'
                                        data-html="true">
                                        <td><span class="glyphicon glyphicon-user"></span></td>
                                        <td>{{ app.security.getToken().getUser().getUserDetail() }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-xs fa fa-remove fa-1x"></button>
                                        </td>
                                    </tr>
                                    <tr class="pop-left" data-trigger="hover" data-container="body"
                                        data-toggle="popover" data-placement="bottom" data-content='1hour 32minutes'
                                        data-html="true">
                                        <td><span class="glyphicon glyphicon-user"></span></td>
                                        <td>{{ app.security.getToken().getUser().getUserDetail() }}</td>
                                        <td>
                                            <button class="btn btn-danger btn-xs fa fa-remove fa-1x"></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include 'DashboardBundle:Default:includes/modalViews.html.twig' %}

    <script>
        $(document).ready(function () {
            side_panel.setLoaderUrl("{{ asset('bundles/backend/images/ajax-loader.gif') }}");
            side_panel.init();
        });
    </script>

{% endblock %}