{# Environments List #}
{% if environmentsMenu is defined %}
    <div>
        <table class="table table-hover">
        	<tr>
	        	<td><a href="{{ path('dashboard_environment') }}" >{{ "All" }}</a></td>
            </tr>
        	{% for environment in environmentsMenu %}
        		<tr>
		        	<td><a href="{{ path('dashboard_environment', {'name':environment.name}) }}" >{{ environment.name }}</a></td>
	            </tr>
        	{% endfor %}
      	</table>
    </div>
{% endif %}