<form class="form-horizontal" role="form">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title" id="myModalLabel">User Edition</h4>
	</div>
	<div class="modal-body">
		  {{ form_errors(edit_form.login) }}
		  <div class="form-group">
		    <label class="col-sm-2 control-label">{{ form_label(edit_form.login) }}</label>
		    <div class="col-sm-10">{{ form_widget(edit_form.login) }}</div>
		  </div>
		  
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-success">Save</button>
	</div>
</form>
    